@font-face{
    font-family:'TheSecret-Regular';
    src:url('../fonts/TheSecret-Regular.woff') format('woff'),
        url('../fonts/TheSecret-Regular.ttf') format('truetype');
    font-weight:normal;
    font-style:normal
}
.secret{
    display:inline-block;
    font:normal normal normal 14px/1 TheSecret-Regular;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    transform:translate(0, 0)
}
.secret-lg{
    font-size:2em;
}
