---
layout: default
---

<style type="text/css">
.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
}
.pager li {
    display: inline-block;
}
</style>

<section id="intro">
    <div class="container">
        <header class="major">
            <h2>xiaOp 的博客</h2>
            <p>分享写代码，听音乐，看电影的心得</p>
        </header>

        <section>
            <div class="tags">
                {% for tag in site.tags %}
                    {% capture tag_name %}{{ tag | first }}{% endcapture %}
                    <a href="{{ site.baseurl }}/tags#{{ tag_name }}" title="{{ tag_name }}">
                        {{ tag_name }}
                    </a>
                {% endfor %}
            </div>
        </section>
    </div>
</section>

<section id="blog">
    <div class="container">
        {% for post in paginator.posts %}
        <div class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <h2 class="post-title">
                    {{ post.title }}
                </h2>
                {% if post.subtitle %}
                <h3 class="post-subtitle">
                    {{ post.subtitle }}
                </h3>
                {% endif %}
                <div class="post-content-preview">
                    {{ post.content | strip_html | truncate:200 }}
                </div>
            </a>
            <p class="post-meta">
                {{ post.date | date: "%B %-d, %Y" }}
            </p>
        </div>
        <hr>
        {% endfor %}

        {% if paginator.total_pages > 1 %}
        <ul class="pager">
            {% if paginator.previous_page %}
            <li class="previous">
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span class="icon fa-arrow-left"></span>&nbsp;上一页</a>
            </li>
            {% endif %}
            {% if paginator.next_page %}
            <li class="next">
                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页&nbsp;<span class="icon fa-arrow-right"></span></a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</section>

<section id="contact">
    <div class="container">
        <h3>喜欢的事情可多啦</h3>
        <ul class="feature-icons">
            <li class="fa-code">Coding</li>
            <li class="fa-cubes">听歌 苏打绿 MCR</li>
            <li class="fa-book">看看书，刷知乎</li>
            <li class="fa-coffee">看电影，电视剧</li>
            <li class="fa-users">搓炉石</li>
        </ul>
    </div>
</section>
