---
layout: default
---

<style type="text/css">
.tags {
    padding: 30px 0;
}
.post-preview .post-title {
    font-size: 1.3em;
}
.post-preview .post-subtitle {
    font-size: 0.5em;
}
</style>

<div class="container">
    <section>
        <div class="tags">
            {% for tag in site.tags %}
                {% capture tag_name %}{{ tag | first }}{% endcapture %}
                <a href="#{{ tag_name }}" title="{{ tag_name }}">
                    {{ tag_name }}
                </a>
            {% endfor %}
        </div>
    </section>
    {% for tag in site.tags %}
    <div>
        <span class="fa fa-tag" id="{{ tag[0] }}">
            <span>{{ tag[0] }}</span>
        </span>
        {% for post in tag[1] %}
            <div class="post-preview">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                    {% if post.subtitle %}
                    <h3 class="post-subtitle">
                        {{ post.subtitle }}
                    </h3>
                    {% endif %}
                </a>
            </div>
        <hr>
        {% endfor %}
    </div>
    {% endfor %}
</div>
