<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="theme-color" content="{{ site.chrome-tab-theme-color }}">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="manifest" href="{{ "/manifest.json" | relative_url }}">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style-large.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/highlight.css" />
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
